.margin10{
    margin-left: 10px;
    margin-right: 10px;
}
.cursorPtr{
    cursor: pointer;
}
.jtcb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.d-f{
    align-items: center;
    display: flex;
}

// div.sticky {
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0;
   
//   }