<div class="footer_outer_box">
  <div class="fl-row">
    <div class="fl-col">
      <span class="bold-text">ABOUT</span>
      <ul class="no-decorations">
        <li class="normal-text"><a> Contact Us </a></li>
        <li class="normal-text"><a> About Us </a></li>
        <li class="normal-text"><a> Careers </a></li>
        <li class="normal-text"><a> Corporate Info </a></li>
      </ul>
    </div>
    <div class="fl-col">
      <span class="bold-text">HELP</span>
      <ul class="no-decorations">
        <li class="normal-text"><a>Payment </a></li>
        <li class="normal-text"><a> Shipping</a></li>
        <li class="normal-text"><a> FAQ</a></li>
      </ul>
    </div>
    <div class="fl-col">
      <span class="bold-text">POLICY</span>
      <ul class="no-decorations">
        <li class="normal-text"><a>Return Policy </a></li>
        <li class="normal-text"><a>Terms of Use </a></li>
        <li class="normal-text"><a> Security</a></li>
        <li class="normal-text"><a> Privacy</a></li>
      </ul>
    </div>
    <div class="fl-col">
      <span class="bold-text">SOCIAL</span>
      <ul class="no-decorations">
        <li class="normal-text"><a> Facebook</a></li>
        <li class="normal-text"><a> Twitter</a></li>
        <li class="normal-text"><a> You Tube</a></li>
      </ul>
    </div>
    <div>
      <div class="fl-col">
        <span class="bold-text">Mail Us:</span>
        <ul class="no-decorations">
          <li class="normal-text">
            <a>ShopCart@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
