<div class="outer_box">
    <div class="detail_card">
        <div class="img_area">
            <img class="img-responsive" src="/assets/images/redTshirt.jpg" alt="image">
        </div>
        <div class="text_area">
            <div class="title_and_cost">
                <p>
                    Mens Cotton Jacket
                </p>
                <span>$55.5</span>
            </div>
            <div class="categoryname">
                men's clothing
            </div>
            <p class="prod_description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea vitae officia libero accusantium, enim soluta saepe itaque esse id facilis optio, inventore nemo ex sit, sapiente reprehenderit? Expedita minima fugiat quidem, eveniet sit repellat rem, modi soluta vero dolore iste totam nobis nesciunt nemo cum commodi unde tenetur ex doloremque?
            </p>
            <div class="button_parent">
                <button class="cart_button">
                    Add to cart
                </button>
            </div>

        </div>
    </div>
</div>
