<app-navbar></app-navbar>

<div class="outer-box">
  <h5 class="side-header">My Orders</h5>
  <div class="flexb2">
    <table>
      <tr class="card flexb">
        <td class="img_col">
          <img class="img_size" src="/assets/images/bag.jpg" />
        </td>
        <td class="title_col">
          <p class="normal-text">
            Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
          </p>
        </td>
        <td class="price_col">
          <p class="normal-text">₹109.95</p>
        </td>
        <td class="status_col">
          <p class="normal-text">Delivered</p>
        </td>
        <td class="status_col">
          <button class="btn_options_dis" disabled>Cancel</button>
        </td>
      </tr>
      <tr class="card flexb">
        <td class="img_col">
          <img class="img_size" src="/assets/images/jacket.jpg" />
        </td>
        <td class="title_col">
          <p class="normal-text">Mens Cotton Jacket</p>
        </td>
        <td class="price_col">
          <p class="normal-text">₹180.95</p>
        </td>
        <td class="status_col">
          <p class="normal-text">Shipped</p>
        </td>
        <td class="status_col">
          <button class="btn_options">Cancel</button>
        </td>
      </tr>

      <tr class="card flexb">
        <td class="img_col">
          <img class="img_size" src="/assets/images/redTshirt.jpg" />
        </td>
        <td class="title_col">
          <p class="normal-text">Mens Casual Premium Slim Fit T-Shirts</p>
        </td>
        <td class="price_col">
          <p class="normal-text">₹300.95</p>
        </td>
        <td class="status_col">
          <p class="normal-text">Shipped</p>
        </td>
        <td class="status_col">
          <button class="btn_options">Cancel</button>
        </td>
      </tr>
      <tr class="card flexb">
        <td class="img_col">
          <img class="img_size" src="/assets/images/jacket.jpg" />
        </td>
        <td class="title_col">
          <p class="normal-text">Mens Cotton Jacket</p>
        </td>
        <td class="price_col">
          <p class="normal-text">₹125.95</p>
        </td>
        <td class="status_col">
          <p class="normal-text">Shipped</p>
        </td>
        <td class="status_col">
          <button class="btn_options">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div>
  <app-footer></app-footer>
</div>
