<app-navbar></app-navbar>

<div class="outer-margin">
  <h5 class="card-title side-header">My Profile</h5>
  <div class="card card-width">
    <div class="card-body">
      <div class="flex">
        <div class="img_div">
          <img class="img_size" src="/assets/images/profile_user.jpg" />
        </div>
        <div style="width: 100%; margin: 10px">
          <div class="flex">
            <span class="bold-text">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="normal-text">Sushanth Kumar</span>
          </div>
          <div class="flex">
            <span class="bold-text">Gender:&nbsp;&nbsp;&nbsp;</span>
            <span class="normal-text">Male</span>
          </div>
          <div class="flex">
            <span class="bold-text"
              >Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
            >
            <span class="normal-text">sushanthkumar.870@gmail.com</span>
          </div>
          <div class="flex">
            <span class="bold-text">Mobile:&nbsp;&nbsp;&nbsp;</span>
            <span class="normal-text">7989390131</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn_flex">
    <button class="btn_options">Addresses</button>
    <button class="btn_options" (click)="selectMyOrders()">My Orders</button>
    <button class="btn_options" (click)="selectMyCart()">My Cart</button>
    <button class="btn_options">Cards</button>
  </div>
  <ng-container *ngIf="selectCategory == 'myOrders'">
    <div class="outer-box">
      <div class="flexb2">
        <table>
          <tr class="card flexb">
            <td class="img_col">
              <img class="img_size" src="/assets/images/bag.jpg" />
            </td>
            <td class="title_col">
              <p class="normal-text">
                Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
              </p>
            </td>
            <td class="price_col">
              <p class="normal-text">₹109.95</p>
            </td>
            <td class="status_col">
              <p class="normal-text">Delivered</p>
            </td>
            <td class="status_col">
              <button class="btn_options_dis" disabled>Cancel</button>
            </td>
          </tr>
          <tr class="card flexb">
            <td class="img_col">
              <img class="img_size" src="/assets/images/jacket.jpg" />
            </td>
            <td class="title_col">
              <p class="normal-text">Mens Cotton Jacket</p>
            </td>
            <td class="price_col">
              <p class="normal-text">₹180.95</p>
            </td>
            <td class="status_col">
              <p class="normal-text">Shipped</p>
            </td>
            <td class="status_col">
              <button class="btn_options">Cancel</button>
            </td>
          </tr>

          <tr class="card flexb">
            <td class="img_col">
              <img class="img_size" src="/assets/images/redTshirt.jpg" />
            </td>
            <td class="title_col">
              <p class="normal-text">Mens Casual Premium Slim Fit T-Shirts</p>
            </td>
            <td class="price_col">
              <p class="normal-text">₹300.95</p>
            </td>
            <td class="status_col">
              <p class="normal-text">Shipped</p>
            </td>
            <td class="status_col">
              <button class="btn_options">Cancel</button>
            </td>
          </tr>
          <tr class="card flexb">
            <td class="img_col">
              <img class="img_size" src="/assets/images/jacket.jpg" />
            </td>
            <td class="title_col">
              <p class="normal-text">Mens Cotton Jacket</p>
            </td>
            <td class="price_col">
              <p class="normal-text">₹125.95</p>
            </td>
            <td class="status_col">
              <p class="normal-text">Shipped</p>
            </td>
            <td class="status_col">
              <button class="btn_options">Cancel</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="selectCategory == 'myCart'">
    <div *ngIf="desktop">
      <div class="marginLR40">
        <ng-container *ngIf="products.length != 0">
          <div class="container">
            <div class="cart-table">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>Sr.No</th>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Description</th>
                    <th>Total</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of products; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.title }}</td>
                    <td>
                      <img
                        style="width: 120px"
                        src="{{ item.image }}"
                        alt="img"
                      />
                    </td>
                    <td style="width: 25%">{{ item.description }}</td>

                    <td style="width: 12%">{{ item.price }}</td>
                    <td>
                      <button
                        (click)="removeItem(item)"
                        class="btn btn-danger"
                        type="button"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan--="1"></td>
                    <td>
                      <button class="btn btn-danger" (click)="emptycart()">
                        Empty Cart
                      </button>
                    </td>
                    <td>
                      <button class="btn btn-primary" (click)="goToHome()">
                        Shop More
                      </button>
                    </td>
                    <td><button class="btn btn-success">Checkout</button></td>
                    <td>
                      <strong
                        >Grand Total:
                        {{ grandTotal | currency : "INR" : "symbol" }}</strong
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="products.length == 0">
          <div class="container">
            <div class="card box">
              <p class="card-title fs12 fw-bold">My Cart</p>
              <div>
                <div class="empty_cart_image">
                  <img
                    class="inside_cart_image"
                    src="/assets/images/empty-cart.webp"
                  />
                </div>
                <div class="text_area_box">
                  <p class="fs12">Your cart is empty!</p>
                  <p class="fs12">Add item to it now</p>
                  <button class="shop_btn" type="button" routerLink="/home">
                    Shop Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="!desktop">
      <ng-container *ngIf="products.length != 0">
        <div class="container">
          <div class="cart-table">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th class="fs9">Sr.No</th>
                  <th class="fs9">Product Name</th>
                  <th class="fs9">Product Image</th>
                  <th class="fs9">Total</th>
                  <th class="fs9">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of products; let i = index">
                  <td class="fs9">{{ i + 1 }}</td>
                  <td class="fs9">{{ item.title }}</td>
                  <td>
                    <img style="width: 40px;height: 50px;" src="{{ item.image }}" alt="img" />
                  </td>
                  <td style="width: 10%" class="fs9">{{ item.price }}</td>
                  <td>
                    <button
                      (click)="removeItem(item)"
                      class="btn btn-sm fs6 btn-danger"
                      type="button"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
                <tr>
                  <td colspan--="1"></td>
                  <td>
                    <button
                      class="btn btn-sm fs6 btn-danger"
                      (click)="emptycart()"
                    >
                      Empty Cart
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-sm btn-primary fs6"
                      (click)="goToHome()"
                    >
                      Shop More
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-success fs6">Checkout</button>
                  </td>
                  <td>
                    <strong class="fs9"
                      >Grand Total:
                      {{ grandTotal | currency : "INR" : "symbol" }}</strong
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="products.length == 0">
        <div class="container">
          <div class="card box">
            <h5 class="card-title">My Cart</h5>
            <div>
              <div class="empty_cart_image">
                <img
                  class="inside_cart_image"
                  src="/assets/images/empty-cart.webp"
                />
              </div>
              <div class="text_area_box">
                <h4>Your cart is empty!</h4>
                <h6>Add item to it now</h6>
                <button class="shop_btn fs6" type="button" routerLink="/home">
                  Shop Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<div class="mt-5">
  <app-footer></app-footer>
</div>
