
   
      <div class="card card_sty" routerLink="/productDetails/{{ details.id }}">
        <div class="image_part">
          <div class="adj_img">
            <img
              class="img-responsive imageWidthHeight"
              src="{{ details.image }}"
              alt="image"
            />
          </div>
        </div>
        <div class="text_part">
          <p class="prod_name">{{ details.title }}</p>
          <p class="prod_price">
            {{ details.price | currency : "INR" : "symbol" }}
          </p>
        </div>
      </div>
 
